.product {
    background: linear-gradient(336deg, #3f5efb, #fc466b);
    row-gap: 8px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-left: -16px;
    margin-right: -16px;

    &__title {
        color: $txt-white;
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: capitalize;
        padding: 16px 0;
        margin-left: 16px;
        position: relative;
    }
}
