.product-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    margin: 0 8px 30px 8px;
    height: 400px;

    &:hover {
        transform: scale(1.01);
        transition: all 0.35s;
        box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
    }

    // &:nth-child(1) {
    //     margin-left: 16px;
    // }

    // &:last-child {
    //     margin-right: 16px;
    // }

    &__image {
        height: 200px;
        margin-top: -1px;
        margin-right: -1px;
        margin-left: -1px;

        img {
            width: 100%;
            max-height: 100%;
        }
    }

    &__name {
        margin-bottom: 10px;
        color: $txt-second-color;
        font-size: 1.25rem;
        font-weight: normal;
        overflow: hidden;
        height: 58px;
    }

    &__price {
        color: $main-color;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;

        &__old {
            color: $txt-second-color;
            font-weight: 500;
            font-size: 1.4rem;

            &__sale {
                padding-left: 10px;
                color: #3c902b;
            }
        }
    }

    &__btn {
        @include tablet {
            display: none;
        }
    }
}
